@page "/qr"
@using ZXing
@using ZXing.Common
@inject IJSRuntime JS

<h3>Escáner de Código QR</h3>

<video id="video" autoplay></video>
<button @onclick="StartScanning">Iniciar Escaneo</button>

@if (!string.IsNullOrEmpty(scannedResult))
{
    <p>Resultado: @scannedResult</p>
}

@code {
    private string ?scannedResult;

    private async Task StartScanning()
    {

        await JS.InvokeVoidAsync("startQRScanner");
    }

    [JSInvokable]
    public void OnQRCodeScanned(string result)
    {
        scannedResult = result;
        StateHasChanged();
    }
}