@page "/"
@using QRCoder
@rendermode InteractiveServer
@using System.IO

<h3>Generar y Mostrar Código QR</h3>

<input @bind="qrText" placeholder="Ingresa el texto para el QR" class="form-control mb-2" />

@if (qrCodeImage != null)
{
    <img src="@qrCodeImage" alt="QR Code" />
}

<button class="btn btn-primary" @onclick="GenerateQRCode">Generar Código QR</button>

@code {
    private string qrText = string.Empty;
    private string? qrCodeImage;

    private void GenerateQRCode()
    {
        if (string.IsNullOrWhiteSpace(qrText))
        {
            return; 
        }

        using (var qrGenerator = new QRCodeGenerator())
        using (var qrCodeData = qrGenerator.CreateQrCode(qrText, QRCodeGenerator.ECCLevel.Q))
        using (var qrCode = new PngByteQRCode(qrCodeData))
        {
            byte[] qrCodeImageBytes = qrCode.GetGraphic(20); 

            qrCodeImage = $"data:image/png;base64,{Convert.ToBase64String(qrCodeImageBytes)}";
        }
    }
}
