<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SSC_Gimnasio</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <svg width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path d="M15 8a7 7 0 1 1-14 0 7 7 0 0 1 14 0z" />
                    <path d="M10.97 4.97a.75.75 0 0 0-1.06 0L7.75 7.12 6.03 5.4a.75.75 0 0 0-1.06 1.06L7 9.19l4-4a.75.75 0 0 0 0-1.06z" />
                </svg> Acceso al cliente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registrar-cliente">
                <svg width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path d="M8 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM1 14s-1 0-1-1 1-4 7-4 7 3 7 4-1 1-1 1H1zm12-5v2h2v1h-2v2h-1v-2H9v-1h2V9h1z" />
                </svg> Registro cliente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="renovacion">
                <svg width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path d="M11.534 6.136a4 4 0 1 0 1.517 3.44h-1.63a2.5 2.5 0 1 1-.584-1.78l-1.77 1.77h4V5.5l-1.533 1.533z" />
                </svg> Renovación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaClientes">
                <svg width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zM8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path d="M14 6.75a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0zM15 14s0-1-1-2-2.5-1-2.5-1-.5 0-1 .5c.262.274.495.612.72 1.004C11.69 12.515 12.5 13 14 13h1z" />
                </svg> Listado de Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="QrGenerador">
                <svg width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path d="M2 2h2v2H2V2zM2 5h2v2H2V5zM5 2h2v2H5V2zM5 5h2v2H5V5z" />
                    <path d="M2 8h2v2H2V8zM5 8h2v2H5V8zM8 2h2v2H8V2zM8 5h2v2H8V5z" />
                    <path d="M11 2h2v2h-2V2zM11 5h2v2h-2V5zM14 2h2v2h-2V2zM14 5h2v2h-2V5z" />
                </svg> Generador de QR
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="qrscanner">
                <svg width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path d="M4.5 0a.5.5 0 0 1 .5.5V3h-1V.5a.5.5 0 0 1 .5-.5zM3 0h1v3H3V0zm9 0h1v3h-1V0zM10.5 0a.5.5 0 0 1 .5.5V3h-1V.5a.5.5 0 0 1 .5-.5zM3.5 13a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1 0-1h2.5V10h1v3zm9-3v3h2.5a.5.5 0 0 1 0 1h-2.5a.5.5 0 0 1-.5-.5V10h1z" />
                </svg> Escáner de QR
            </NavLink>
        </div>
    </nav>
</div>
